extends partials/layout.pug

block content
			.heading
				h1 People work here for many years
			.content
				p.
					When people started here they pizza good idea then some cat said try this and they liked it so thay all ate it and were happy with it and an idea popped into their head that they could eat this stuff and sell it for money to other ans then they did and that is why we are here.	